name = "prompt-parrot"
main = ".open-next/worker.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

# Static assets
[assets]
directory = ".open-next/assets"
binding = "ASSETS"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "prompt-parrot-db"
database_id = "6d3f2e83-98ac-4347-9b86-20f9070b2eba"

[vars]
NODE_ENV = "production"
